.project-section {
  display: grid;
  grid-template-columns: auto;
  max-width: 1280px;
}

@media (min-width: 1280px) {
  .project-section {
    grid-template-columns: 2.5% auto 2.5%;
    align-items: center;
  }
}
