.header {
  justify-content: center;
}

.header-image-logo {
  width: 200px;
  height: auto;
}

.header:hover {
  cursor: pointer;
  filter: brightness(85%);
  transition: 200ms ease-in-out;
  transform: translateY(-2.5px);
}

@media screen and (min-width: 610px) {
  .header {
    transform: scale(80%);
  }

  .header-image-logo {
    transform: scale(80%);
  }
}
