.header {
  justify-content: center;
}

.header:hover {
  cursor: pointer;
  filter: brightness(85%);
  transition: 200ms ease-in-out;
  transform: translateY(-2.5px);
}

.header-image-logo {
  height: 300px;
  width: 300px;
}

/* @media screen and (min-width: 610px) {
  .header {
    transform: scale(80%);
  }
} */
