.intro-header {
  align-self: center;
  overflow-wrap: wrap;
}

@media (max-width: 475px) {
  .intro-header {
    grid-column: span 2;
    justify-content: center;
  }
}

h4 {
  line-height: 1.3;
}

h1 {
  margin-bottom: 1rem;
}

h5 {
  margin-bottom: 0.5rem;
}
